body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24,24,24);
  color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  padding-left: 20px;
  border-bottom: 2px solid rgb(50,50,50);
}

.MusicAlbum {
  padding : 20px;                                            
}

.album-cover:hover {
  opacity: 50%;
}

.TrackName {
  width: fit-content;
}

.TrackName:hover {
  text-decoration: underline;
}


.ArtistName {
  color: rgb(144,144,144);
  max-width: 300px;
  width: fit-content;

}

.ArtistName:hover {
  color: white;
  font-size: 17px;
  text-decoration: underline;
}

.cover-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.play-button {
  display: none;
  top: 125px;
  right: 125px;
}

.dots {
  display: none;
  top: 125px;
  right: 200px;

}

.heart {
  display: none;
  top: 125px;
  right: 50px;

  
}
.play-button, .dots, .heart {
  position: absolute;
  width: 50px;
  height: 50px;
  filter: invert(100%) sepia(7%) saturate(5908%) hue-rotate(290deg) brightness(146%) contrast(90%);
}

.cover-container:hover .heart {
  display: block;
}
.cover-container:hover .dots {
  display: block;
}
.cover-container:hover .play-button {
  display: block;
}
